<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Choice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h1>Review Options</h1>
        <form method="post" action="/">
            <p>
                <label>
                    <input type="radio" name="review_choice" value="all" class="with-gap" required />
                    <span>Review All Decisions</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" name="review_choice" value="flagged" class="with-gap" required />
                    <span>Review Flagged Items Only</span>
                </label>
            </p>
            <button class="btn waves-effect waves-light" type="submit">Submit
                <!-- <i class="material-icons right">send</i> -->
            </button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html> 